<template name="Contacts">
	<form action="">
		<div class="content-bet-info">
			<div class="profile-area">	
				<h1>Контакты</h1>
				<div class="contacts-area">
					<p>
						<i class="fa fa-phone" aria-hidden="true"></i>
						Телефон:
						<span>+1 (111) 111-11-11</span>
					</p>

					<p>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						Электронная почта:
						<a href="mailto:info@site.ru">
							<span>info@site.ru</span>
						</a>
					</p>
				</div>
			</div>

			<hr style="border-color: #DAAB72">

			<div class="profile-area">
				<h1>Обратная связь</h1>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Имя">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="E-mail">
				</div>
				<div class="form-group">
					<textarea class="form-control" placeholder="Ваш вопрос"></textarea>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default">Отправить</button>
				</div>
			</div>

		</div>
	</form>
</template>