	<template name="News">
		<h1 id="title_content">Новости</h1>
		<div class="content-bet-info">
			<div class="news-block-area">
				<div class="time">01.12.2016</div>
				<a href="#" class="no-post-hover">
					<div class="h1-post">
						Стоимость Биткойна может достигнуть 10000$ или даже 1$ млн. Чандлер Го объясняет как именно
					</div>
				</a>
				<img src="src/img/11.jpg" class="img-responsive" alt="">
				<p>
					В этой статье Дэмиан Бренер опишет несколько бизнес-моделей, появившихся в «отрасли» блокчейнов. Дэмиан – основатель и гендиректор Smart Contract Solutions, компании, выпускающей инструментарий для бизнеса, использующего в работе токены на блокчейнах.
				</p>
					<!-- <a href="#" class="button">
					<button type="button" class="btn btn-default">Читать далее</button>
				</a>
				-->
			</div>

			<div class="news-block-area">
				<div class="time">01.12.2016</div>
				<a href="#" class="no-post-hover">
					<div class="h1-post">
						Шифропанки, криптовалюта и псевдосвобода: есть ли жизнь без государства?
					</div>
				</a>
				<p>
					Число поисковых запросов о биткойне  в Индии выросло на 20 -30% за последнюю неделю, судя по статистике ZebPay, крупнейшего криптовалютного сервиса в стране, клиентская база которого ежемесячно  увеличивается на 25 000 пользователей.
				</p>
				<!-- <a href="#" class="button">
				<button type="button" class="btn btn-default">Читать далее</button>
			</a>
			-->
			</div>

			<div class="news-block-area">
				<div class="time">01.12.2016</div>
				<a href="#" class="no-post-hover">
					<div class="h1-post">
						Стоимость Биткойна может достигнуть 10000$ или даже 1$ млн. Чандлер Го объясняет как именно
					</div>
				</a>
				<img src="src/img/11.jpg" class="img-responsive" alt="">
				<p>
					В этой статье Дэмиан Бренер опишет несколько бизнес-моделей, появившихся в «отрасли» блокчейнов. Дэмиан – основатель и гендиректор Smart Contract Solutions, компании, выпускающей инструментарий для бизнеса, использующего в работе токены на блокчейнах.
				</p>
				<!-- <a href="#" class="button">
				<button type="button" class="btn btn-default">Читать далее</button>
				</a>-->
			</div>

			<div class="news-block-area">
				<div class="time">01.12.2016</div>
				<a href="#" class="no-post-hover">
					<div class="h1-post">
						Шифропанки, криптовалюта и псевдосвобода: есть ли жизнь без государства?
					</div>
				</a>

				<p>
					Число поисковых запросов о биткойне  в Индии выросло на 20 -30% за последнюю неделю, судя по статистике ZebPay, крупнейшего криптовалютного сервиса в стране, клиентская база которого ежемесячно  увеличивается на 25 000 пользователей.
				</p>
				<!-- <a href="#" class="button">
				<button type="button" class="btn btn-default">Читать далее</button>
				</a>-->
			</div>
		</div>
	</template>