<template name="FAQ">
	<form action="">
		<h1>FAQ</h1>
		<div class="content-bet-info">
			<div class="profile-area">
				<div id="accordion">
					<h3>Что такое биткоины?</h3>
					<div>
						<p class="faq-p">
							Биткоины – это денежная единица системы биткоин. Для обозначения цены или количества используется сокращение BTC (например: “100 BTC”). Биткоин нематериален. Это всего лишь число, привязанное к биткоин-адресу.
						</p>
					</div>
					<h3>Могу ли я купить биткоины через Paypal?</h3>
					<div>
						<p class="faq-p">
							Хотя можно найти человека, который хочет продать вам биткоин через Paypal, большинство крупных обменников и бирж не позволяют пополнение счета через Paypal. Потому, что нередки случаи, когда кто-то оплачивает покупку биткоинов через Paypal, получает свои биткоины, а затем обманным путем жалуется Paypal, что он не получил свой товар. В таких случаях Paypal очень часто стоит на стороне мошенника, и поэтому обменники не позволяют такого метода пополнения счета.
						</p>
					</div>
					<h3>Как создаются новые биткоины?</h3>
					<div>
						<p class="faq-p">
							Новые монеты генерируются узлом сети каждый раз, как только он находит решение математической задачи (т.е. создает новый блок), которую трудно выполнить и может продемонстрировать доказательство своей работы. Награда за решение блока автоматически регулируется так, что в первые 4 года существования сети биткоин будет создано 10 500 000 BTC. Сумма уменьшается в два раза каждые 4 года, т.е. 5 250 000 за следующие 4 года, 2 625 000 в течение следующих четырех лет и так далее. Таким образом, общее количество монет составит 21 000 000 BTC.
						</p>
						<p class="faq-p">
							Блоки должны создаваться, в среднем, каждые 10 минут. По мере изменения числа людей, которые пытаются создать эти блоки, сложность создания новых монет будет изменяться для поддержания этого значения. Изменение сложности происходит каждые 2016 блоков. Вероятность что кто-то создаст блок, основана на отношении скорости работы используемой системы, к совокупной скорости расчета всех других систем, генерирующих блоки в сети.
						</p>
					</div>
					<h3>Сколько всего биткоинов существует сейчас?</h3>
					<div>
						<p class="faq-p">
							Количество блоков, помноженное на количество монет в блоке, равно сумме существующих монет. Количество монет в блоке равно 50 BTC для первых 210 000 блоков, 25 BTC для следующих 210 000 блоков, затем 12.5 BTC и так далее. Награда за найденный блок падает в 2 раза каждые 210 000 блоков. Если вы не доверяете сайтам, отображающим текущее количество эмитированных биткоинов, то можете рассчитать самостоятельно, зная количество блоков и алгоритм уменьшения эмиссии.
						</p>
					</div>
					<h3>На сколько частей делится биткоин?</h3>
					<div>
						<p class="faq-p">
							Технически, биткоин можно разделить до 8 десятичных знаков при использовании существующих структур данных, поэтому 0,00000001 BTC является наименьшим количеством на данный момент. Идеи об обеспечении еще более мелких частей биткоина могут быть актуальны в будущем, если в этом возникнет потребность.
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</template>